#head {
    text-align:center;
}

container {
    height: 300px;
  position: relative;
}

#content {
margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#priceRange {
	
}