<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OOTD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id = container>
    <div id = "content">
  <h1 id = "head"><b>OUTFIT OF THE DAY</b></h1><br>
  <form action = "/results" id = "search" method="POST">
      <input type="text" class="form-control" name="weather"><br>
      <center>
    <button type="submit" class="btn btn-primary">Submit</button>
    </center>
  </form>
  </div>
  </div>
</body>
</html>