<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div align="center">

<script>
// Use result_arr from API data -->	
var result_arr = ["Monterey", "40", "Cloudy"]; 
var city = result_arr[0];
var temp = result_arr[1];
var type = result_arr[2];
</script>

<p id="demo"></p>


<head>
<script>
document.getElementById("demo").innerHTML = city; 
</script>
</head>

<h1>
<div align="center">

<script>
if (type == "Snowy"){
    document.write("<img src='https://cdn0.iconfinder.com/data/icons/snowflakes-snow/617/Snowflakes_snow-10-512.png'>")
}
else if(type == "Clear"){
	document.write("<img src='https://cdn4.iconfinder.com/data/icons/sun-11/50/20-512.png'>")  
} 

else if(type == "Rainy"){
	document.write("<img src='https://cdn2.iconfinder.com/data/icons/weather-414/24/cloud_rain-512.png'>")
}

else if(type == "Cloudy"){
	document.write("<img src='https://icons-for-free.com/iconfiles/png/512/cloudy+foggy+weather+icon-1320196574869514194.png'>")
}
else {
	document.write("<img src='https://cdn4.iconfinder.com/data/icons/sun-11/50/20-512.png'>")
}

</script>

<p id="demo2"></p>
<script>
document.getElementById("demo2").innerHTML = temp; 
</script> &#8457

<br>
<font size="3">We suggest the best outfits!</font>
</div> 
</h1>

<!-- Clothing data to be added by Won)-->

<p> 

<!-- Orange T-Shirt-->
<img src="https://cdn3.iconfinder.com/data/icons/essentials-volume-i/128/tshirt-3-512.png" width="80" height="80">  
<!-- Shorts -->
<img src="https://cdn0.iconfinder.com/data/icons/clothing-fashion/512/clothes_-_fashion_-_dress-15-512.png" width="80" height="80">
<!-- Glasses -->
<img src="https://cdn4.iconfinder.com/data/icons/weather-123/256/10-512.png" width="80" height="80">
<!-- slippers -->
<img src="https://cdn1.iconfinder.com/data/icons/universal-flat-outline/614/990_-_Slippers-512.png" width="80" height="80">
<!-- Shirt -->
<img src="https://image.flaticon.com/icons/svg/1016/1016650.svg" width="80" height="80">
</div>
</p>



</body>
</html>
